#api-button-release:hover {
  background-color: grey;
}

#comparedCommit {
  margin-top: 5rem;
}

#comparedCommit tr th:first-child {
  width: 3%;
  text-align: center;
  align-items: center;
}

table,
th,
td {
  border: thin solid;
  border-radius: 5px;
  color: white;
  text-align: center;
  empty-cells: hide;
}
